## Setting

In this exercise, we work on practice questions on `list` and `tuple` object.

## Q1. [3 points]

[`len(object)`](https://www.w3schools.com/python/ref_func_len.asp) function returns the number of elements in an object.

* Create a tuple object `T1` that includes the following four elements:
 
`'A', 'B', 'C', 1.5`

* Report the number of elements in the tuple

In [12]:
 T1 = ('A', 'B', 'C', 1.5)

In [13]:
 len(T1)

4

## Q2. [4 Points]

* Use a `for` loop to print out data type of each element `T1`.

In [14]:
for x in T1:
    print(type(x))

<class 'str'>
<class 'str'>
<class 'str'>
<class 'float'>

## Q3. [6 Points]

* Fill in the following function `Concat(iterable)`. Inside the function, use a `for` loop to iteratively convert each element to str type and then concatenate them together. For the function, return the concatenated string. For example, if the iterable is  (1, 2, 3, "A", 1.4), the function should return "123A1.4"

* Call this function on `T1` to concatenate the elements together.

In [16]:
def Concat(iterable):
    str1 = ""
    for x in iterable:
        x = str(x)
        str1 = str1 + x

    return str1

In [17]:
Concat (T1)

'ABC1.5'

## Q4. [4 Points]


* Use [`list(iterable)`](https://www.w3schools.com/python/ref_func_list.asp#:~:text=The%20list()%20function%20creates,in%20the%20chapter%3A%20Python%20Lists.) to create a list `L1` that has the same content in `T1` 
 

* Make a copy of `L1`. Update this copy to create list  `L2`, which that includes the following elements 
`'A', 'B', 'C', 1.5, [5, 4]`

* Make a copy of `L1`. Update this copy to create list  `L3`, which that includes the following elements 
`'A', 'B', 'C', 1.5,  5, 4`

In [18]:
L1 = ['A', 'B', 'C', 1.5]

In [24]:
L2 = L1.copy()
L2.append ([5,4])
L3 = L1.copy()
L3.append(5)
L3.append(4)
L4 = L1.copy()
L4.extend([5,4])## append as separate
print(L2)

['A', 'B', 'C', 1.5, [5, 4]]

## Q5. [4 Points]

* Find the index of "C" in `L1`, use this information to insert "D" after "C". Display the updated `L1`

In [10]:
i = L1.index('C')

In [11]:
L1[i] = 'D'

In [12]:
print (L1)

['A', 'B', 'D', 1.5]

## Q6. [4 Points]


* Study this example [here](https://edstem.org/us/courses/34946/lessons/54934/slides/311258). Use the same idea to delete the last element from `[5, 4]` in `L2`. Display the updated value of `L2`. (It should be ['A', 'B', 'C', 1.5, [5]])

In [13]:
L2[-1].remove(4)

In [14]:
print (L2)

['A', 'B', 'C', 1.5, [5]]