In [2]:
import numpy as np

## Q1.  [6 Points]

Define a string array `A` with the following strings.

`["AA1","s1","1sss","1sd"]`

*  Use array `A` to create array `B` that replaces each `s` with `S` in `A`. In this case, `B` array should have the following elements:
`["AA1","S1","1SSS","1Sd"]` 


* Use array `A` to create array `C` that replaces `s` with `S` for at most 2 times for each string in `A`. In this case, `C` array should include the following elements:
`["AA1","S1","1SSs","1Sd"]` 

* Based on array `A` and `B`, create `D` array that replaces all `s` with `S` for at most 2 strings in `A` . In this case, `D` array should include the following elements:
`["AA1","S1","1SSS","1sd"]`. You should not use eye-balling in your answer, meaning even if we change array `A` and `B`, your cold should still work. You might find Boolean mask useful.

In [3]:
A = np.array (["AA1","s1","1sss","1sd"])

In [4]:
B = A.copy()
B = np.char.replace(B, "s", "S", count=None)

In [5]:
C = A.copy()
C = np.char.replace(A, "s", "S", count = 2)

In [33]:

D = A.copy()
#created a boolean array that returns true when A != B , =need to change 
B_M = A != B
print(B_M)
# returns the number of elements to replace (true) and cap it at 2 
itemReplace = np.cumsum(B_M) <= 2 
print (itemReplace)
#must need to replace and be less than 2 
B_M = B_M * itemReplace
print(B_M)
#the element in D need to be replaced = element in B it need to be replaced to 
D[B_M] = B[B_M]
print(D)

[False  True  True  True]
[ True  True  True False]
[False  True  True False]
['AA1' 'S1' '1SSS' '1sd']

## Q2. [6 Points]
 

Cal1 array has the following 3 strings indicating the calculations we want to perform

["1+3+10","29+29+11","2+10+1"]

How do we compute the result? Implement the following:

* Split each string into a list of sub-strings.  
* Convert the array of lists to a list of lists using `.tolist()` method 
* Finish the rest of the work 

The final result should an array of 3 `int` values: 14, 69, 13.

In [7]:
Cal1 = np.array (["1+3+10","29+29+11","2+10+1"])
Values = np.char.split(Cal1, "+")
Values

array([list(['1', '3', '10']), list(['29', '29', '11']),
       list(['2', '10', '1'])], dtype=object)

In [8]:
 
 Values = Values.tolist()
 Values

[['1', '3', '10'], ['29', '29', '11'], ['2', '10', '1']]

In [37]:
Values = np.array(Values).astype(int)
Values

array([[ 1,  3, 10],
       [29, 29, 11],
       [ 2, 10,  1]])

In [38]:

np.sum(Values, axis= 1)

array([14, 69, 13])