In [1]:
import pandas as pd
import numpy as np

## Setting 

The dataset explores the daily store sales over a given month.

|Feature|Explanation|
|---|---|
|Sales|amount of Sales|
|Day|day of the month|

* **Only days with sales higher than 0 are included in the table.**
* **The table is not ordered**

In [2]:
Sales=pd.read_pickle("StoreSales.pkl")  
Sales

    Sales  Day
0    4648   14
1    5575   27
2    4194    8
3    5377   13
4    6574    2
5    3722   20
6    3319   22
7    4594   18
8    4110   15
9    4116   16
10   4173   11
11   6816    1
12   5775   29
13   6709    4
14   4163    7
15   4318   25
16   3037   21
17   3549   10
18   6228   30
19   3076   23
20   3198   24
21   4718   17
22   3467    9
23   5199   28

## Q1. [15 Points]

Construct the table as following:

<table>
    <tr>
        <th></th>
        <th>DayOfWeek</th>
        <th>Sales</th>
    </tr>
    <tr>
        <th>Day</th>
        <th></td>
        <th></td>
    </tr>
    <tr>
        <th>1</th>
        <td>Wed</td>
        <td>6816.0</td>
    </tr>
    <tr>
        <th>2</th>
        <td>Thu</td>
        <td>6574.0</td>
    </tr>
    <tr>
        <th>3</th>
        <td>Fri</td>
        <td>0.0</td>
    </tr>
    <tr>
        <th>...</th>
        <td>...</td>
        <td>...</td>
    </tr>
    <tr>
        <th>30</th>
        <td>Thu</td>
        <td>6228.0</td>
    </tr>
</table>



Requirement:

* This table has 30 rows, one for each day of the month, following chronological order. If a day has no sales, record sales as 0. 
* When constructing `DayOfWeek`, use `NumPy` manipulations on `Day1` list instead of creating 30 elements manually. **Assume that you know there are 30 days in the month and this month starts from Wednesday.**
* Your table should be the exactly the same as `Q1` DataFrame. You can use `Q1` DataFrame for Q2.

In [3]:
Day1=["Wed","Thu","Fri","Sat","Sun","Mon","Tue"]
Day1

['Wed', 'Thu', 'Fri', 'Sat', 'Sun', 'Mon', 'Tue']

In [4]:

Sales.sort_values (by ='Day', inplace= True)

Day = np.arange (1,31)

Sales

    Sales  Day
11   6816    1
4    6574    2
13   6709    4
14   4163    7
2    4194    8
22   3467    9
17   3549   10
10   4173   11
3    5377   13
0    4648   14
8    4110   15
9    4116   16
21   4718   17
7    4594   18
5    3722   20
16   3037   21
6    3319   22
19   3076   23
20   3198   24
15   4318   25
1    5575   27
23   5199   28
12   5775   29
18   6228   30

In [5]:
Day_table = pd.DataFrame({"Day" : Day})

Day_table2 = pd.merge (Day_table, Sales, how = "left")
display(Day_table2)

    Day   Sales
0     1  6816.0
1     2  6574.0
2     3     NaN
3     4  6709.0
4     5     NaN
5     6     NaN
6     7  4163.0
7     8  4194.0
8     9  3467.0
9    10  3549.0
10   11  4173.0
11   12     NaN
12   13  5377.0
13   14  4648.0
14   15  4110.0
15   16  4116.0
16   17  4718.0
17   18  4594.0
18   19     NaN
19   20  3722.0
20   21  3037.0
21   22  3319.0
22   23  3076.0
23   24  3198.0
24   25  4318.0
25   26     NaN
26   27  5575.0
27   28  5199.0
28   29  5775.0
29   30  6228.0

In [6]:
repeat_day= np.tile(Day1, 5)
#Day1 = Day1.reshape(1, -1)
repeat_day
Days = pd.DataFrame({"DayOfWeek" : repeat_day})
SaleDay = pd.concat([Day_table2, Days ],axis =1, join = "inner") 

SaleDay.Sales.mask(np.isnan(SaleDay.Sales), other = 0, inplace = True)
display(SaleDay)

    Day   Sales DayOfWeek
0     1  6816.0       Wed
1     2  6574.0       Thu
2     3     0.0       Fri
3     4  6709.0       Sat
4     5     0.0       Sun
5     6     0.0       Mon
6     7  4163.0       Tue
7     8  4194.0       Wed
8     9  3467.0       Thu
9    10  3549.0       Fri
10   11  4173.0       Sat
11   12     0.0       Sun
12   13  5377.0       Mon
13   14  4648.0       Tue
14   15  4110.0       Wed
15   16  4116.0       Thu
16   17  4718.0       Fri
17   18  4594.0       Sat
18   19     0.0       Sun
19   20  3722.0       Mon
20   21  3037.0       Tue
21   22  3319.0       Wed
22   23  3076.0       Thu
23   24  3198.0       Fri
24   25  4318.0       Sat
25   26     0.0       Sun
26   27  5575.0       Mon
27   28  5199.0       Tue
28   29  5775.0       Wed
29   30  6228.0       Thu

In [7]:
#unstack

SaleDay_in = SaleDay.set_index (['Day'])
SaleDay_in = SaleDay_in.loc[:,['DayOfWeek', 'Sales']]
SaleDay_in

    DayOfWeek   Sales
Day
1         Wed  6816.0
2         Thu  6574.0
3         Fri     0.0
4         Sat  6709.0
5         Sun     0.0
6         Mon     0.0
7         Tue  4163.0
8         Wed  4194.0
9         Thu  3467.0
10        Fri  3549.0
11        Sat  4173.0
12        Sun     0.0
13        Mon  5377.0
14        Tue  4648.0
15        Wed  4110.0
16        Thu  4116.0
17        Fri  4718.0
18        Sat  4594.0
19        Sun     0.0
20        Mon  3722.0
21        Tue  3037.0
22        Wed  3319.0
23        Thu  3076.0
24        Fri  3198.0
25        Sat  4318.0
26        Sun     0.0
27        Mon  5575.0
28        Tue  5199.0
29        Wed  5775.0
30        Thu  6228.0

In [8]:
Q1=pd.read_pickle("Q1_result.pkl")  
Q1.head()

    DayOfWeek   Sales
Day
1         Wed  6816.0
2         Thu  6574.0
3         Fri     0.0
4         Sat  6709.0
5         Sun     0.0

## Q2. [10 Points]
From Q1 table, construct the following table: 


<table>
    <tr>
      <th>DayOfWeek</th>
      <th>Mon</th>
      <th>Tue</th>
      <th>Wed</th>
      <th>...</th>
      <th>Sun</th>
    </tr>
    <tr>
      <th>Week</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    <tr>
      <th>1</th>
      <td>?</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>...</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
</table>

 
* Each row represents n'th week of the month (Starting from 1). Here, we assume n'th week always starts on Monday (Think about how to use DayOfWeek=="Mon")and the first day of the month always belongs to the first week.
* Each column represents a `DayOfWeek`(Starting from Monday).
* ? should give the sales on a given Week/DayOfWeek. If a Week/DayOfWeek does not exist, record it as missing value. 
* You should use  `unstack` or `stack` in your answer.
* Your table should be the exactly the same as `Q2` DataFrame. You can use `Q2` DataFrame for Q3.

In [10]:
## This array can be used to help you reorder the columns
Day=["Mon","Tue","Wed","Thu","Fri","Sat","Sun"]

In [11]:
SaleDay2 = Q1.copy()
#SaleDay2.reset_index(drop=True, inplace= True) don't need it

#week = pd.DataFrame({"Week":np.repeat(np.arange(1, (30/7+1)),7)}).astype(int)
week =  np.cumsum(Q1.DayOfWeek == "Mon") +1
SaleDay2["Week"] = week
#day_map = {'Mon': 1, 'Tue': 2, 'Wed': 3, 'Thu': 4, 'Fri': 5, "Sat": 6, 'Sun': 7}
#SaleDay2['DayOfWeek'] = SaleDay2['DayOfWeek'].map(day_map)

#display(SaleDay2)

SaleDay2 = SaleDay2.set_index(["Week", "DayOfWeek"])["Sales"].unstack()
SaleDay2 = SaleDay2.reindex(columns = Day)

display(SaleDay2)

DayOfWeek     Mon     Tue     Wed     Thu     Fri     Sat  Sun
Week
1             NaN     NaN  6816.0  6574.0     0.0  6709.0  0.0
2             0.0  4163.0  4194.0  3467.0  3549.0  4173.0  0.0
3          5377.0  4648.0  4110.0  4116.0  4718.0  4594.0  0.0
4          3722.0  3037.0  3319.0  3076.0  3198.0  4318.0  0.0
5          5575.0  5199.0  5775.0  6228.0     NaN     NaN  NaN

In [12]:
Q2=pd.read_pickle("Q2_result.pkl")  
Q2

DayOfWeek     Mon     Tue     Wed     Thu     Fri     Sat  Sun
Week
1             NaN     NaN  6816.0  6574.0     0.0  6709.0  0.0
2             0.0  4163.0  4194.0  3467.0  3549.0  4173.0  0.0
3          5377.0  4648.0  4110.0  4116.0  4718.0  4594.0  0.0
4          3722.0  3037.0  3319.0  3076.0  3198.0  4318.0  0.0
5          5575.0  5199.0  5775.0  6228.0     NaN     NaN  NaN

## Q3. [20 Points]

Based on Q2, construct the following table:

<table>
    <tr style=" text-align: left";>
      <th></th>
      <th colspan="3" >Sales</th>
      <th colspan="3">DayOfWeek</th>
    </tr>
    <tr style=" text-align: left">
      <th>Rank</th>
      <th>1&emsp;</th>
      <th>2&emsp;</th>
      <th>3&emsp;</th>
      <th>1&emsp;</th>
      <th>2&emsp;</th>
      <th>3&emsp;</th>
    </tr>
    <tr>
      <th>Week</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    <tr>
      <th>1</th>
      <td>?</td>
      <td>??</td>
      <td>???</td>
      <td>^</td>
      <td>^^</td>
      <td>^^^</td>
    </tr>
    <tr>
      <th>2</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>...</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
</table>



* ?: highest sales value in this week. 
* ??: second-highest sales value in this week 
* ???: third-highest sales value in this week
* ^, ^^, ^^^: corresponding DayofWeek value. For example, if Wednesday has the highest sale during that week, ^ should be "Wed" .  


* The results cannot be based on eye-balling.
* You should not construct the result row by row.

In [13]:
Day=["Mon","Tue","Wed","Thu","Fri","Sat","Sun"]

In [14]:
SaleDay3 = Q2.stack(dropna=False).reset_index()

SaleDay3 = SaleDay3.sort_values(by = ["Week", 0], ascending=[True, False])



rank = np.tile (np.arange(1,7+1), np.max(SaleDay3.Week))
SaleDay3 = SaleDay3.assign(Rank = rank)

SaleDay3 = SaleDay3[SaleDay3.Rank<4]
SaleDay3.rename({0 :"Sales"},axis = 1, inplace = True)
SaleDay3 = SaleDay3[["Week", "Rank", "Sales", "DayOfWeek"]]

SaleDay3 = SaleDay3.set_index(['Rank','Week']).unstack(-2)
display(SaleDay3)

#SaleDay3 = SaleDay3.assign(Rank = )

       Sales                 DayOfWeek
Rank       1       2       3         1    2    3
Week
1     6816.0  6709.0  6574.0       Wed  Sat  Thu
2     4194.0  4173.0  4163.0       Wed  Sat  Tue
3     5377.0  4718.0  4648.0       Mon  Fri  Tue
4     4318.0  3722.0  3319.0       Sat  Mon  Wed
5     6228.0  5775.0  5575.0       Thu  Wed  Mon

## Q4. [8 Points]

Based on **Q2** dataset, construct the following table:

<table>
    <tr>
      <th>Statistics</th>
      <th>Mean</th>
      <th>Variance</th>
      <th>min</th>
      <th>25 percentile</th>
      <th>50 percentile</th>
      <th>75 percentile</th>
      <th>max</th>
    </tr>
    <tr>
      <th>Week</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    <tr>
      <th>1</th>
      <td>?</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></th>
      <td></th>
    </tr>
    <tr>
      <th>2</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></th>
      <td></th>
    </tr>
    <tr>
      <th>...</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
</table>

The statistics should be calculated based on all non-missing sales belonging to the week.

[hint: you can use `.T` to transpose a DataFrame]

In [19]:

SaleDay4 = Q2.T.describe()

var = Q2.T.var(axis = 0)
print(var)
var.values 
display(SaleDay4)

Week
1    1.347301e+07
2    3.728601e+06
3    3.197111e+06
4    1.898493e+06
5    1.836342e+05
dtype: float64

Week             1            2            3            4           5
count     5.000000     7.000000     7.000000     7.000000     4.00000
mean   4019.800000  2792.285714  3937.571429  2952.857143  5694.25000
std    3670.560339  1930.958632  1788.046780  1377.858293   428.52567
min       0.000000     0.000000     0.000000     0.000000  5199.00000
25%       0.000000  1733.500000  4113.000000  3056.500000  5481.00000
50%    6574.000000  3549.000000  4594.000000  3198.000000  5675.00000
75%    6709.000000  4168.000000  4683.000000  3520.500000  5888.25000
max    6816.000000  4194.000000  5377.000000  4318.000000  6228.00000

In [20]:

SaleDay4.index = ["Count","Mean","Std","min","25%", "50%","75%","max"]
SaleDay4.index.name = "Statistics"
SaleDay4 = SaleDay4.T
SaleDay4 = SaleDay4.drop(["Count"], axis = 1)


SaleDay4["Std"] = np.square(SaleDay4["Std"])
SaleDay4.rename({"Std" :"Variance"},axis = 1, inplace = True)

#SaleDay4.insert(1, "Variance", var)

display(SaleDay4)

Statistics         Mean      Variance     Min     25%     50%      75%     Max
Week
1           4019.800000  1.347301e+07     0.0     0.0  6574.0  6709.00  6816.0
2           2792.285714  3.728601e+06     0.0  1733.5  3549.0  4168.00  4194.0
3           3937.571429  3.197111e+06     0.0  4113.0  4594.0  4683.00  5377.0
4           2952.857143  1.898493e+06     0.0  3056.5  3198.0  3520.50  4318.0
5           5694.250000  1.836342e+05  5199.0  5481.0  5675.0  5888.25  6228.0

## Q5. [7 Points]

Based on Q2 dataset, compute which DayOfWeek has the highest average sales. When compute the average sales, only use sales values higher than 0.

In [23]:
 SaleDay5 = Q2.copy().replace(0, np.nan)
 display(SaleDay5)
 SaleDay5.loc["avg"] = SaleDay5.mean()
display(SaleDay5)
## get the index of the maximum value of the last row 
max_sales = SaleDay5.iloc[-1].idxmax()
print(max_sales)

DayOfWeek     Mon     Tue     Wed     Thu     Fri     Sat  Sun
Week
1             NaN     NaN  6816.0  6574.0     NaN  6709.0  NaN
2             NaN  4163.0  4194.0  3467.0  3549.0  4173.0  NaN
3          5377.0  4648.0  4110.0  4116.0  4718.0  4594.0  NaN
4          3722.0  3037.0  3319.0  3076.0  3198.0  4318.0  NaN
5          5575.0  5199.0  5775.0  6228.0     NaN     NaN  NaN

DayOfWeek          Mon      Tue     Wed     Thu          Fri     Sat  Sun
Week
1                  NaN      NaN  6816.0  6574.0          NaN  6709.0  NaN
2                  NaN  4163.00  4194.0  3467.0  3549.000000  4173.0  NaN
3          5377.000000  4648.00  4110.0  4116.0  4718.000000  4594.0  NaN
4          3722.000000  3037.00  3319.0  3076.0  3198.000000  4318.0  NaN
5          5575.000000  5199.00  5775.0  6228.0          NaN     NaN  NaN
avg        4891.333333  4261.75  4842.8  4692.2  3821.666667  4948.5  NaN

Sat